{% extends 'sitebdeSiteVitrineBundle::vueMereSiteVitrine.html.twig' %}

{% block boutonConnexion %}
    <li class='active'><a href="{{ path('sitebde_siteVitrine_connexion') }}">Se connecter</a></li>
{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 class="text-center">Connexion</h3>
            <p class="text-center">Future page d'authentification</p>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}
