/* Footer fixé en bas de page */

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;
}

.top-buffer { margin-top:20px; }

/* Texte du jumbotron gris foncé */

.jumbotron {
  color: #444;
}

/* Couleur des panel noire sur le parrainage */

.panel-default > .panel-heading.parrainage {
  background-color: #222;
  color: #eee;
}

/* Barre de recherche auto-complétion */

.typeahead, .tt-query, .tt-hint {
  padding: 8px 12px; /* Dimensions de la barre de recherche */
}

.tt-menu {
	background-color: #FFFFFF; /* Bordures et ombres des suggestions */
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 8px; /* Espace entre barre de recherche et suggestions */
	padding: 8px 0;
	width: 250px; /* Largeur des suggestions (idéalement : taille min + adaptation par rapport au + grand nom proposé) */
}

.tt-suggestion {
	font-size: 17px;
	padding: 3px 20px;
}

.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}

.tt-suggestion p {
	margin: 0;
}

/* ? */

.navbar .container-fluid, .navbar-collapse {
  padding-left:0;
}
.navbar-collapse.in {
  padding-left:30px;
}