{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}


{% block contenu %}
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Propositions <strong>parrains/filleuls</strong></h3>
                </div>
                <div class="list-group">
                    {% for etudiantPropose in etudiantsProposes %}
                        <a href="{{ path('sitebde_parrainage_details_profil', {'idEtudiant':etudiantPropose.id}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="{{ asset('images/photosEtudiants/' ~ etudiantPropose.photo) }}" class="img-rounded img-responsive">
                                </div>
                                <div class="col-sm-10">
                                    <h4 class="list-group-item-heading">{{ etudiantPropose.prenom }} {{ etudiantPropose.nom }}</h4>
                                    <p>Vous avez n critères en commun (critère 1, critère 2...)</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading parrainage">
                    <h3 class="panel-title text-center">Informations</h3>
                </div>
                <div class="panel-body">
                    Blah blah blah
                </div>
            </div>
        </div>
    </div>
{% endblock %}