{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}

{% block contenu %}
<h2>Informatique et Libertés</h2>

<p>Conformément à l'article 34 de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès aux 
informations vous concernant. Vous pouvez également modifier ou supprimer ces informations. Il vous suffit de nous contacter
à l'adresse suivante : hegoberria64@gmail.com</p>

<p>Les fichiers résultants ne sont jamais transmis à des tiers. En particulier, nous ne commercialisons aucun fichier d'adresses
ou d'emails.</p>

<h2>Droits d'auteurs et copyright</h2>

<p>Ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les 
droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et
photographiques.</p>

<p>La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement interdite sauf 
autorisation expresse du directeur de la publication.</p>

<p>Ce site web est le site officiel du Bureau Des Etudiants du département informatique de l'IUT de Bayonne et du Pays Basque. 
De facto, vous acceptez de vous conformer aux lois françaises sur les données nominatives, sur la propriété intellectuelle,
les droits d'auteurs, la presse et la communication, ainsi qu'aux traités et accords internationaux relatifs à ces domaines.</p>
{% endblock %}