{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}


{% block boutonProfilPerso %}
    <li class="active"><a href="{{ path('sitebde_parrainage_profil') }}">Prénom Nom</a></li>
{% endblock %}


{% block contenu %}
    <p>Cette page affichera prochainement le formulaire de modification de l'étudiant connecté.</p>
{% endblock %}