{% extends 'sitebdeParrainageBundle::vueMereParrainage.html.twig' %}


{% block contenu %}
    <p>Nous n'avons trouvé personne qui corresponde à votre recherche.<br><br>
    Essayez d'écrire le <B>prénom</B> suivi du <B>nom</B> de la personne voulue dans la barre de recherche.</p>
{% endblock %}