{% extends '::vueMere.html.twig' %}

{% block header %}
<a href="{{path('sitebde_parrainage_accueil') }}" style="text-decoration: none">
    <div class="jumbotron" style="position: relative;
                                  background: url({{ asset('images/temporaire/stars2.jpg') }}) center center;
                                  width: 100%;
                                  height: 100%;
                                  background-size: cover;
                                  overflow: hidden;">
            <h1 class="text-center">Hego Berria - Parrainage</h1>
    </div>
</a>
{% endblock %}